<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
	    https://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">
	<!--xmlns:tx="http://www.springframework.org/schema/tx"
	http://www.springframework.org/schema/tx
	https://www.springframework.org/schema/tx/spring-tx.xsd-->
	
	<!-- 扫描文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>	


	<!-- 配置数据库 -->
	<bean name="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
	    <!-- 配置数据库的连接属性
	          用户名
	          密码
	          访问路径
	         驱动
	     -->
	   <property name="driverClassName" value="${jdbc.driver}"></property>
	   <property name="url" value="${jdbc.url}"></property>
	   <property name="username" value="${jdbc.user}"></property>
	   <property name="password" value="${jdbc.password}"></property>
	</bean>
	
	
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis.xml"/>
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!-- 扫描包名，自动配置mapper生成类 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- <property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryBean"/> -->
		<property name="basePackage" value="com.sfu.dao"/>
	</bean>
	
	<!-- 创建user服务类 -->
	<bean id="userService" class="com.sfu.service.Impl.UserServiceImpl">
		<property name="dao" ref="userDao"/>
	</bean>
	
	
	<!-- 创建dispatchInfo服务类 -->
	<bean id="dispatchInfoService" class="com.sfu.service.Impl.DispatchServiceImpl">
		<property name="dao" ref="dispatchInfoDao"/>
		<property name="ordersDao" ref="ordersDao"/>
	</bean>
	
	
	<!-- 创建owner服务类 -->
	<bean id="ownerService" class="com.sfu.service.Impl.OwnerServiceImpl">
		<property name="dao" ref="ownerDao"/>
	</bean>
	
	<!-- 创建orders服务类 -->
	<bean id="ordersService" class="com.sfu.service.Impl.OrdersServiceImpl">
		<property name="dao" ref="ordersDao"/>
		<property name="evaluationDao" ref="evaluationDao"/>
	</bean>
		
	<!-- <bean id="myTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<tx:annotation-driven transaction-manager="myTransactionManager"/> -->
	
</beans>