<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  		<typeAliases>
  			<package name="com.sfu.beans"/>
  		</typeAliases>
  
  		<!-- <mappers>
  		<mapper resource="com/sfu/dao/UserDao.xml"/>
  			<package name="com.sfu.dao"/>
  		</mappers> -->
  		<mappers>
  			<package name="com.sfu.dao"/>
  		</mappers>
  </configuration>